/src/davidthompsonasteroids/explode0.wav
/src/davidthompsonasteroids/explode1.wav
/src/davidthompsonasteroids/laser79.wav
/src/davidthompsonasteroids/laser80.wav
/src/davidthompsonasteroids/thruster.wav